.container--about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-title {
    &--br {
    display: block;
    }

    &--indent {
        padding-bottom: 24px;
        padding-top: 58px;
    }
}

.about-wrapper {
    font-family: $main-font;
    font-size: 15px;
    font-weight: bold;

    &__not_easy {
       color: $fg-color;
    }

    &__description {
        color: $fb-color;

        &--color_point {
            color: $main-color;
        }
    }
}

.lesson--indent {
    margin: 36px 0;
}

.our-priority {
    font-family: $main-font;
    font-size: 13px;
    font-weight: bold;

    &__item {
        width: 205px;
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item-wrapper {
        position: relative;
        width: 54px;
        height: 54px;
        border: 2px solid rgb(255, 107, 8);

        &::before {
            content: '';
            position: absolute;
            right: -2px;
            height: 36px;
            width: 2px;
            background: rgb(255, 255, 255);
            margin-top: 11px;        
        }

        &--svg {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            &_female_student {
                height: 32px;
                width: 30px;
                fill: rgb(255, 107, 8);
            }

            &_mobile_learning {
                height: 34px;
                width: 34px;
                fill: rgb(255, 107, 8);
            }

            &_insurance {
                height: 36px;
                width: 30px;
                fill: rgb(255, 107, 8);
            }
        }

    }

    &__description {
        display: flex;
        align-items: center;
        font-family: $main-font;
        font-size: 13px;
        font-weight: bold;
        width: 130px;
    }

    &--indent {
        padding-bottom: 50px;
        padding-top: 88px;
    }

}