.header {
  display: flex;
  justify-content: space-between;
  padding: 38px 0;
}

.logotype {
  width: 128px;
  color: rgb(0, 0, 0);
  font-weight: 700;

  &__hell {
      display: inline-block;
      font-size: 25px;
      letter-spacing: 1.25px;
    }

  &__en {
    display: inline-block;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.75px;
  }

  &__hell-ru, &__english-ru {
    display: inline-block;
    text-transform: uppercase;
    font-size: 9px;
  }
  &__hell-ru {
    color: $main-color;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_logotype {
    margin-right: 110px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-basis: 612px;

  &__item:not(:last-of-type) {
    margin-right: 45px;
  }

  &__item-link {
    font-family: $second-font;
    font-size: 12px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 1.2px;
    color: $fg-color;
    text-transform: uppercase;

    &:hover {
      color: $main-color;
    }
  }
}
