$main-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;  // Roboto вместо Tahoma



$main-color: rgb(255, 107, 8);
$w-color: rgb(255, 255, 255);

$fb-color: rgb(24, 25, 29);     // first black color
$sb-color: rgb(17, 21, 23);     // second black color

$fg-color: rgb(185, 185, 185);  // first grey color
$sg-color:rgb(133, 133, 133);   // second grey color

$logo-color: rgb(0, 0, 0);
$copy-color: rgba(253, 254, 254, 0.42); // копирайт